.StellaSez {
  position: relative;
  display: flex;
  padding-left: 24px;
  padding-right: 19px;

  .avatar {
    
    padding: 5px;
    padding-bottom: 3px;
    
    img {
      width: 38.78px;
      height: 38.78px;
      border-radius: 50%;
    }
  }

  .message {
    flex-grow: 1;
    background: #F9F9F9;
    border-radius: 20px;
    border-bottom-left-radius: 5px;
    padding: 12px 4px 9px 16px;
  }
}