.Header {
  position: absolute;
  width: 375px;
  height: 72.83px;
  left: 0.27px;
  top: -0.44px;
  
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);

  .stellaLogo {
    position: absolute;
    width: 93px;
    height: 40px;
    left: 13.19px;
    top: 26px;
    
    img {
      width: 100%;
    }
  }

  .stellaPhone {
    position: absolute;
    width: 147.21px;
    height: 39.66px;
    left: 208.96px;
    top: 25.85px;
    
    border: none;
    outline: none;
    background: #000000;
    border-radius: 3px;
    
    label {  
      font-family: Perpetua;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
  
      color: #FFFFFF;
    }
    
  }
}