.ActionBar {
  flex-grow: 1;
  margin: 18px;
  margin-top: 10px;
  margin-bottom: 25px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &.hidden {
    visibility: hidden;
  }

  .buttonRow {
    display: flex;
    .goBack {
      margin-right: 10px;
    }
  
    .action {
      flex-grow: 1;
    }
  }

  .smallText {
    position: relative;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: .7em;
    line-height: .8em;
    
    color: #666666;  }
}